<main>
    <div class="row g-5">
      <div class="col-md-7 col-lg-12">
        <h4 class="mb-3">Ders Ekle</h4>
        <p class="lead">Fakültede okutulmasını istediğiniz ders bilgilerini giriniz</p>

        <form [formGroup]="addLessonForm" class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Ders Adı</label>
              <input formControlName="name"  type="text" class="form-control" id="name" placeholder="" value="" required>
            </div>


            <div class="col-md-3">
                <label for="country" class="form-label">Dersin Dönemini Seçiniz</label>
                <select formControlName="period" class="form-select" id="period" required>
                  <option value="">Seçiniz</option>
                  <option>1. Sınıf Güz Dönemi</option>
                  <option>1. Sınıf Bahar Dönemi</option>
                  <option>2. Sınıf Güz Dönemi</option>
                  <option>2. Sınıf Bahar Dönemi</option>
                  <option>3. Sınıf Güz Dönemi</option>
                  <option>3. Sınıf Bahar Dönemi</option>
                  <option>4. Sınıf Güz Dönemi</option>
                  <option>4. Sınıf Bahar Dönemi</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="state" class="form-label">Dersin Kredisini Seçiniz</label>
                <select formControlName="credit" class="form-select" id="credit" required>
                  <option value="">Seçiniz...</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="state" class="form-label">Haftalık Ders Saatini Seçiniz</label>
                <select formControlName="lessonHour" class="form-select" id="lessonHour" required>
                  <option value="">Seçiniz...</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="state" class="form-label">Dersin Öğrenci Kapasitesi</label>
                <select formControlName="capacity" class="form-select" id="capacity" required>
                  <option value="">Seçiniz...</option>
                  <option>20</option>
                  <option>40</option>
                  <option>50</option>
                  <option>60</option>
                </select>
              </div>

              <div class="col-md-3">
                <label for="state" class="form-label">Zorunlu/Seçmeli</label>
                <select formControlName="isImperative" class="form-select" id="isImperative" required>
                  <option value="">Seçiniz...</option>
                  <option>Zorunlu Ders</option>
                  <option>Seçmeli Ders</option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="state" class="form-label">Dersi Verecek Öğretim Görevlisiniz Seçiniz</label>
                <select formControlName="prelector" class="form-select" id="prelector" required>
                  <option value="">Seçiniz...</option>
                  <option>Öğretim Görevlisi</option>
                </select>
              </div>





          </div>



          <hr class="my-4">



          <button class="w-100 btn btn-primary btn-lg" (click)="createLessonModel()">Ders Ekle</button>
        </form>
      </div>
    </div>
  </main>